ultralytics
roboflow
torch
numpy
matplotlib
opencv-python
pillow
pyYAML
requests
scipy
torchvision
tqdm
psutil
py-cpuinfo
pandas
seaborn
transformers
gitpython
psutil
thop
torchvision
setuptools
inference
supervision